{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.css')}}">
{% endblock %}

{% block title %}Error Detection Heatmap{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top"></div>
{% endblock %}

{% block content %}
  <h1 class="col-md-12">Error Detection Heatmap</h1>
  <div class="col-md-12">
  	<table class="table">
	  	<thead>
	  		<tr>
	  			{% for header in headers %}
	  				<th>{{header}}</th>
	  			{% endfor %}
	  		</tr>
	  	</thead>
	  	{% for row in data %}
	  		<tr>
		  		{% for cell in row %}
		  			<td style="background-color: rgba(238, 180, 62, {{cell[1]}});">{{cell[0]}}</td>
		  		{% endfor %}
	  		</tr>
	  	{% endfor %}
	  </table>
  </div>

{% endblock %}